---
applications:
  - name: uaa-guard-broker
    command: broker
    path: broker
    memory: 128M
    env:
      GUARD_BROKER_USERNAME: broker
      GUARD_BROKER_PASSWORD: broker
      GUARD_ROUTE_SERVICE_URL: https://guard.my-paas.com
  - name: uaa-guard
    command: uaa-guard
    memory: 128M
    env:
      GUARD_COOKIE_SECRET: very-secret
      GUARD_DEFAULT_CALLBACK_URL: https://uaa-guard.my-paas.com/auth/cloudfoundry/callback
      GUARD_UAA_URL: https://login.my-paas.com
      GUARD_CLIENT_KEY: uaaguard
      GUARD_CLIENT_SECRET: uaaguard
